<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Actvity Information
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Actvity Information</li>
        </ol>

    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body">
                        <div id="divActivityInfoForm">
                            <form name="frmActivityInfo">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Area :</label>
                                        <div class="col-sm-5">
                                            <select class="form-control" ng-model="ActivityInfo.Name"
                                                    ng-options="a.Name as a.Name for a in AreaLookup">
                                                <option value="">Select</option>
                                            </select>
                                            <span class="has-error" ng-show="frmActivityInfo.areacode.$invalid && !frmActivityInfo.areacode.$pristine">This is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Activity  :</label>
                                        <div class="col-sm-5">
                                            <select class="form-control" ng-model="ActivityInfo.Description"
                                                    data-ng-options="m.Name as m.Name for m in ActivityLookup">
                                                <option value="">Select</option>
                                            </select>
                                            <span class="has-error" ng-show="frmActivityInfo.activityCode.$invalid && !frmActivityInfo.activityCode.$pristine">This is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Type :</label>
                                        <div class="col-sm-5">
                                            <select class="form-control" ng-model="ActivityInfo.Type" ng-options="o as o for o in TypeList">
                                                <option value="">Select</option>
                                            </select>
                                            <span class="has-error" ng-show="frmActivityInfo.type.$invalid && !frmActivityInfo.type.$pristine">This is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Periodicity :</label>
                                        <div class="col-sm-2">
                                            <input type="number" class="form-control" ng-model="ActivityInfo.Periodicity" placeholder="">

                                            <span class="has-error" ng-show="frmActivityInfo.periodicity.$invalid && !frmActivityInfo.periodicity.$pristine">This is required.</span>
                                        </div>
                                        <div class="col-sm-3">
                                            <select class="form-control" ng-model="ActivityInfo.PeriodicityType" ng-options="o as o for o in DueTypeList">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Advnace Alert Before Due Date :</label>
                                        <div class="col-sm-2">
                                            <input type="number" class="form-control" ng-model="ActivityInfo.AdvnaceAlert" placeholder="">

                                            <span class="has-error" ng-show="frmActivityInfo.advanceAlert.$invalid && !frmActivityInfo.advanceAlert.$pristine">This is required.</span>

                                        </div>
                                        <div class="col-sm-3">
                                            <select class="form-control" ng-model="ActivityInfo.AdvnaceAlertType" ng-options="o as o for o in DueTypeList">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Previous Date :</label>
                                        <div class="col-sm-5">
                                            <input type="date" name="PreviousDate" class="form-control" ng-model="ActivityInfo.PreviousDate" value="{{ActivityInfo.PreviousDate}}" placeholder="">

                                            <span class="has-error" ng-show="frmActivityInfo.PreviousDate.$invalid && !frmActivityInfo.PreviousDate.$pristine">This is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Next Due Date :</label>
                                        <div class="col-sm-5">
                                            <input type="date" name="NextDueDate" class="form-control" ng-model="ActivityInfo.NextDueDate" value="{{ActivityInfo.NextDueDate}}" placeholder="">
                                            <span class="has-error" ng-if="ActivityInfo.PreviousDate > ActivityInfo.NextDueDate">PreviousDate must be less than NextDueDate</span>
                                            <span class="has-error" ng-show="frmActivityInfo.NextDueDate.$invalid && !frmActivityInfo.NextDueDate.$pristine">This is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Start Job Date :</label>
                                        <div class="col-sm-5">
                                            <input type="date" name="StartJobDate" class="form-control" ng-model="ActivityInfo.StartJobDate"  value="{{ActivityInfo.StartJobDate}}" placeholder="">
                                            <span class="has-error" ng-if="ActivityInfo.NextDueDate < ActivityInfo.StartJobDate" >NextDueDate date must be greater than StartJobDate</span>
                                            <span class="has-error" ng-if="ActivityInfo.PreviousDate > ActivityInfo.StartJobDate">NextDueDate date must be greater than StartJobDate</span>
                                            <span class="has-error" ng-show="frmActivityInfo.StartJobDate.$invalid && !frmActivityInfo.StartJobDate.$pristine">This is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Pre.Resp.person :</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" ng-model="ActivityInfo.PreRespPerson" placeholder="">

                                            <span class="has-error" ng-show="frmActivityInfo.preRespPerson.$invalid && !frmActivityInfo.preRespPerson.$pristine">This is required.</span>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Sec.Resp.person :</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" ng-model="ActivityInfo.SecRespPerson" placeholder="">

                                            <span class="has-error" ng-show="frmActivityInfo.secRespPerson.$invalid && !frmActivityInfo.secRespPerson.$pristine">This is required.</span>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Status:</label>
                                        <div class="col-sm-5">
                                            <select class="form-control" ng-model="ActivityInfo.Status" ng-options="o as o for o in StatusList">
                                                <option value="">Select</option>
                                            </select>
                                            <span class="has-error" ng-show="frmActivityInfo.status.$invalid && !frmActivityInfo.status.$pristine">This is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-4 col-md-8">
                                            <button type="button" class="btn btn-warning" ng-click="clear()"><i class="fa fa-file-o"></i> Clear</button>
                                            <button type="button" class="btn btn-success" ng-click="save()" ng-disabled="frmActivityInfo.$invalid || isLoading">
                                                <i class="fa fa-floppy-o"></i> Save
                                                <i class="fa fa-spinner fa-spin" ng-show="isLoading"></i>
                                            </button>
                                            <button type="button" ng-click="get();isShowActivityInfoGrid=true" class="btn btn-info"><i class="fa fa-times"></i> View</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div id="divComplianceGrid" style="overflow-x:auto" ng-if="isShowActivityInfoGrid">
                            <table ng-table="tableParams" class="table ng-table-row" show-filter="true">
                                <tr ng-repeat="data in $data" ng-class="{'selected':data.ID == selectedRow}">
                                    <td title="'ID'" filter="{ ID: 'number '}" sortable="'ID'" class="text-center">
                                        {{data.ID}}
                                    </td>
                                    
                                    <td title="'Area'" filter="{ Area: 'text'}" sortable="'Area'">
                                        {{data.Name}}
                                     </td>
                                    <td title="'Activity'" filter="{ Activity: 'text'}" sortable="'Activity'">
                                        {{data.Description}}
                                    </td>
                                    <td title="'Type'" filter="{ Type: 'text'}" sortable="'Type'">
                                        {{data.Type}}
                                    </td>
                                    <td title="'Periodicity'" filter="{ Periodicity: 'text'}" sortable="'Periodicity'">
                                        {{data.Periodicity+ " " +data.PeriodicityType}}
                                    </td>
                                    
                                    <td title="'AdvanceAlertBeforeDueDate'" filter="{ AdvanceAlertBeforeDueDate: 'number'}" sortable="'AdvanceAlertBeforeDueDate'">
                                        {{data.AdvnaceAlert+" "+data.AdvnaceAlertType}}
                                    </td>
                                    
                                    <td title="'PreviousDate'" filter="{ PreviousDate: 'text'}" sortable="'PreviousDate'">
                                        {{data.PreviousDate | date:'dd-MMM-yyyy'}}
                                    </td>
                                    <td title="'NextDueDate'" filter="{ NextDueDate: 'text'}" sortable="'NextDueDate'">
                                        {{data.NextDueDate | date:'dd-MMM-yyyy'}}
                                    </td>
                                    <td title="'StartJobDate'" filter="{ StartJobDate: 'text'}" sortable="'StartJobDate'">
                                        {{data.StartJobDate | date:'dd-MMM-yyyy'}}
                                    </td>
                                    <td title="'PreRespPerson'" filter="{ PreRespPerson: 'text'}" sortable="'PreRespPerson'">
                                        {{data.PreRespPerson}}
                                    </td>
                                    <td title="'SecRespPerson'" filter="{ SecRespPerson: 'text'}" sortable="'SecRespPerson'">
                                        {{data.SecRespPerson}}
                                    </td>
                                    <td title="'Status'" filter="{ Status: 'text'}" sortable="'Status'">
                                        {{data.Status}}
                                    </td>
                                    <td data-title="'Action(s)'" class="text-center">
                                        <button class="btn btn-default btn-sm" uib-tooltip="Edit" ng-click="getById(data)"><span class="fa fa-edit"></span></button>
                                     </td>
                                   </tr>
                                </table>
                            </div>


                        </div>
                    </div>
            </div>
        </div>
    </section>
</div>

<!-- /.content-wrapper -->
