<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Compliance Details
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Compliance Details</li>
        </ol>

    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body">
                        <div id="divComplianceForm" ng-if="!isShowComplianceGrid">
                            <form name="frmCompliance">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">ID : </label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="Compliance.ID" id="" placeholder="" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Activity : </label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="Compliance.ActivityName" id="" placeholder="" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Area : </label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="Compliance.AreaName" id="" placeholder="" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label class="control-label col-sm-3">
                                            Job Description :
                                            <!--<input type="date" value="" size="30">-->
                                        </label>
                                        <div class="col-md-9">
                                            <textarea class="form-control" name="Description" ng-model="Compliance.Description" rows="4" id="comment"></textarea>
                                            <span class="has-error" ng-show="frmCompliance.Description.$invalid && !frmCompliance.Description.$pristine">This is required.</span>
                                        </div>
                                        <!-- <label class="control-label col-sm-3">Job Description :</label><br /> -->
                                        <!-- <span><input type="date" value=""></span> -->
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Due Date : </label>
                                        <div class="col-md-3">
                                            <input type="date" name="DueDate" class="form-control" ng-model="Compliance.DueDate" value="{{Compliance.DueDate}}" id="" placeholder="">
                                            <span class="has-error" ng-show="frmCompliance.DueDate.$invalid && !frmCompliance.DueDate.$pristine">This is required.</span>

                                        </div>
                                        <label class="control-label col-sm-2">Completion Date : </label>
                                        <div class="col-md-4">
                                            <input type="date" class="form-control" name="CompletionDate" ng-model="Compliance.CompletionDate" value="{{Compliance.CompletionDate}}" id="" placeholder="">
                                            <span class="has-error" ng-show="frmCompliance.CompletionDate.$invalid && !frmCompliance.CompletionDate.$pristine">This is required.</span>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Status:</label>
                                        <div class="col-sm-3">
                                            <select class="form-control" ng-model="Compliance.Status" ng-options="o as o for o in StatusList">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                        <label class="control-label col-sm-2">Reason for Delay: </label>
                                        <div class="col-md-4">
                                            <textarea class="form-control" name="delayreason" ng-model="Compliance.delayreason" rows="4" id="comment"></textarea>
                                            <span class="has-error" ng-show="frmCompliance.delayreason.$invalid && !frmCompliance.delayreason.$pristine">This is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Is Delay Acceptable: </label>
                                        <div class="col-md-3">
                                            <select class="form-control" ng-model="Compliance.IsDelayAcceptable" ng-options="o.value  as o.text for o in DeviationAcceptance">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                        <label class="control-label col-sm-2">Remarks :</label>
                                        <div class="col-md-4">
                                            <input type="text" name="Remarks" ng-model="Compliance.Remarks" class="form-control" id="" placeholder="">
                                            <span class="has-error" ng-show="frmCompliance.Remarks.$invalid && !frmCompliance.Remarks.$pristine">This is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Pre.Resp.Person: </label>
                                        <div class="col-md-3">
                                            <select class="form-control" name="PreRespPerson" ng-model="Compliance.PreRespPerson" ng-options="u as u.Name for u in UsersList">
                                                <option value="">Select</option>
                                            </select>
                                            <span class="has-error" ng-show="frmCompliance.PreRespPerson.$invalid && !frmCompliance.PreRespPerson.$pristine">This is required.</span>
                                        </div>
                                        <label class="control-label col-sm-2">Sec.Resp.Person :</label>
                                        <div class="col-md-4">
                                            <select class="form-control" name="SecRespPerson" ng-model="Compliance.SecRespPerson" ng-options="u as u.Name for u in UsersList">
                                                <option value="">Select</option>
                                            </select>
                                            <span class="has-error" ng-show="frmCompliance.SecRespPerson.$invalid && !frmCompliance.SecRespPerson.$pristine">This is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" ng-model="Compliance.HasDeviation" value=""> Has Any Deviation with the spec. if yes specify
                                            </label>
                                        </div>
                                        <div class="col-md-3">
                                            <textarea class="form-control" name="DeviationDesc" ng-model="Compliance.DeviationDesc" rows="4" id="comment"></textarea>
                                            <span class="has-error" ng-show="frmCompliance.DeviationDesc.$invalid && !frmCompliance.DeviationDesc.$pristine">This is required.</span>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Is Deviation Acceptable : </label>
                                        <div class="col-md-4">
                                            <select class="form-control" ng-model="Compliance.IsDeviationAcceptable" ng-options="o.value as o.text for o in DeviationAcceptance">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="button" class="btn btn-warning" ng-click="clear()"><i class="fa fa-file-o"></i> Cancel</button>
                                            <button type="button" class="btn btn-success" ng-click="save()" ng-disabled="frmActivity.$invalid || isLoading">
                                                <i class="fa fa-floppy-o"></i> Save
                                                <i class="fa fa-spinner fa-spin" ng-show="isLoading"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div id="divComplianceGrid" style="overflow-x:auto" ng-if="isShowComplianceGrid">
                            <table ng-table="tableParams" class="table ng-table-row" show-filter="true">
                                <tr ng-repeat="data in $data" ng-class="{'selected':data.ID == selectedRow}">
                                    <td title="'ID'" filter="{ ID: 'number '}" sortable="'ID'" class="text-center">
                                        {{data.ID}}
                                    </td>
                                    <td title="'Area'" filter="{ AreaName: 'text'}" sortable="'AreaName'">
                                        {{data.AreaName}}
                                    </td>
                                    <td title="'Activity'" filter="{ ActivityName: 'text'}" sortable="'ActivityName'">
                                        {{data.ActivityName}}
                                    </td>
                                    <td title="'Description'" filter="{ Description: 'text'}" sortable="'Description'">
                                        {{data.Description}}
                                    </td>
                                    <td title="'DueDate'" filter="{ DueDate: 'text'}" sortable="'DueDate'" class="text-center">
                                        {{data.DueDate | date:'dd-MMM-yyyy'}}
                                    </td>
                                    <td title="'CompletionDate'" filter="{ CompletionDate: 'text'}" sortable="'CompletionDate'" class="text-center">
                                        {{data.CompletionDate | date:'dd-MMM-yyyy'}}
                                    </td>
                                    <td title="'IsDelayed'" filter="{ IsDelayed: 'text'}" sortable="'IsDelayed'">
                                        {{data.IsDelayed ? 'Yes' : 'No'}}
                                    </td>
                                    <td title="'ReasonForDelay'" filter="{ ReasonForDelay: 'text'}" sortable="'ReasonForDelay'">
                                        {{data.ReasonForDelay}}
                                    </td>
                                    <td title="'IsDelayAcceptable'" filter="{ IsDelayAcceptable: 'text'}" sortable="'IsDelayAcceptable'">
                                        {{data.IsDelayAcceptable? 'Yes' : 'No'}}
                                    </td>
                                    <td title="'Remarks'" filter="{ Remarks: 'text'}" sortable="'Remarks'">
                                        {{data.Remarks}}
                                    </td>
                                    <td title="'HasDeviation'" filter="{ HasDeviation: 'text'}" sortable="'HasDeviation'">
                                        {{data.HasDeviation? 'Yes' : 'No'}}
                                    </td>
                                    <td title="'DeviationDesc'" filter="{ DeviationDesc: 'text'}" sortable="'DeviationDesc'">
                                        {{data.DeviationDesc}}
                                    </td>
                                    <td title="'IsDeviationAcceptable'" filter="{ IsDeviationAcceptable: 'text'}" sortable="'IsDeviationAcceptable'">
                                        {{data.IsDeviationAcceptable == 'true' }}
                                    </td>
                                    <td title="'Status'" filter="{ Status: 'text'}" sortable="'Status'">
                                        {{data.Status}}
                                    </td>
                                    <td title="'PreRespPerson'" filter="{ PreRespPerson: 'text'}" sortable="'PreRespPerson'">
                                        {{data.PreRespPerson}}
                                    </td>
                                    <td title="'SecRespPerson'" filter="{ SecRespPerson: 'text'}" sortable="'SecRespPerson'">
                                        {{data.SecRespPerson}}
                                    </td>

                                    <td data-title="'Action(s)'" class="text-center">
                                        <button class="btn btn-default btn-sm" uib-tooltip="Edit" ng-click="getById(data)"><span class="fa fa-edit"></span></button>
                                        <!--<button class="btn btn-danger btn-sm" uib-tooltip="Delete"><span class="fa fa-trash"></span></button>-->
                                    </td>
                                </tr>
                                <tr ng-show="$data.length === 0">
                                    <td colspan="3">No records found !</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<!-- /.content-wrapper -->
