
<div class="content-wrapper" ng-controller="reportController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Reports
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Reports</li>
        </ol>

    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body">
                        
                        <div class="hidden-md hidden-sm"><p class="invisible">div hide better look</p></div>
						
							<center>
								<input type="radio" ng-checked="true"  name="optradio" ng-click="reportType('History')" ng-selected="true">&nbsp;&nbsp;  History &nbsp;&nbsp;&nbsp;

								<input type="radio" name="optradio" ng-click="reportType('Future')">&nbsp;&nbsp;  Future Activity&nbsp;&nbsp;&nbsp;

								<input type="radio" name="optradio" ng-click="reportType('Compalience')">&nbsp;&nbsp;  Activity Compalience Report

							</center>

							<br>

							<div class="col-sm-3 col-md-6 col-xs-12 col-lg-12">
								<div>
									<div class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-md-3">Report Type :</label>
											<div class="col-md-2">
                                                <select class="form-control" ng-model="selectedReport" ng-change="getAreas(selectedReport)">
                                                    <option>Consolidated</option>
                                                    <option>Area Wise</option>
                                                    <option>Type</option>
                                                    <option>Deviated/Delayed</option>
                                                </select>
											</div>
                                            <div class="col-md-2" ng-show="selectedReport=='Type'">
                                                <select class="form-control" ng-model="selectedType">                                                   
                                                    <option>Open</option>
                                                    <option>Close</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2" ng-show="selectedReport=='Area Wise'">                                                
                                               <!--ng-options="client.ClientName for client in model.clients track by client.ClientId"-->
                                                <select class="form-control" ng-model="selectedArea" ng-options="area.Name for area in areas track by area.ID">

                                                </select>
                                            </div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3">From Date :</label>
											<div class="col-md-2">
												<input type="date" class="form-control" id="" placeholder="" ng-model="from">
											</div>
											<label class="control-label col-md-3">To Date :</label>
											<div class="col-md-2">
												<input type="date" class="form-control" id="" placeholder="" ng-model="to">
											</div>
										</div>
										<div class="form-group">
											<center>
                                                <button type="button" ng-disabled="showDesableReport" class="btn btn-success" ng-click="printdetailtable('printdetailtable')"><i class="fa fa-database" aria-hidden="true"></i> Master Check List Detailed</button>
												<button type="button" class="btn btn-info" ng-click="showReport()"><i class="fa fa-eye" aria-hidden="true"></i> Show Report</button>
                                                <button type="button" ng-disabled="showDesableReport" class="btn btn-success" ng-click="print('printable')"><i class="fa fa-file" aria-hidden="true"></i> Master Check List</button>
												<button type="button" class="btn btn-danger" ng-click="close()"><i class="fa fa-close" aria-hidden="true"></i> Close</button>
												<!--<button type="button" class="btn btn-warning"  aria-hidden="true" ng-click="print('printable')" ><i class="fa fa-close" aria-hidden="true"></i>Print</button>-->
											</center>
										</div>
									</div>
								</div>
							</div>						
					</div>
       
                    <div class="box box-info" ng-show="reports.length>0"  >
                        <div class="box-body">                           
                            <div class="hidden-md hidden-sm"><p class="invisible">div hide better look</p></div>
                            <table cellpadding="12" class="table table-bordered table-hover">
                                <tr>
                                    <td>
                                        <b>Sl.No</b>
                                    </td>
                                    <td>
                                        <b>Area</b>
                                    </td>

                                    <td>
                                        <b>Activity Description</b>
                                    </td>
                                    <td>
                                        <b>Due Date</b>
                                    </td>
                                    <td>
                                        <b>Complition</b>
                                    </td>
                                    <td>
                                        <b>Responsibility</b>
                                    </td>
                                    <td>
                                        <b> Deviations</b></td>
                                    <td>
                                        <b>Remarks</b>
                                    </td>
                                </tr>
                                <tr ng-repeat="report in reports">
                                    <td>
                                        {{$index+1}}
                                    </td>
                                    <td>
                                        {{report.Area}}
                                    </td>
                                    <td>
                                        {{report.Description}}
                                    </td>
                                    <td>
                                        {{report.DueDate}}
                                    </td>
                                    <td>
                                        {{report.CompletionDate}}
                                    </td>
                                    <td>
                                        {{report.Responsibility}}
                                    </td>
                                    <td>
                                        {{report.Deviations}}
                                    </td>
                                    <td>
                                        {{report.Remarks}}
                                    </td>

                                </tr>
                            </table>
                           
                            <!--<div class="pagination pull-right">
                                <ul>
                                    <li ng-class="{disabled: currentPage == 0}">
                                        <a href="#" ng-click="prevPage()">« Prev</a>
                                    </li>
                                    <li ng-repeat="n in range(pagedItems.length)"
                                        ng-class="{active: n == currentPage}"
                                        ng-click="setPage()">
                                        <a href ="#" ng-bind="n + 1">1</a></li>
                                    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                        <a href="#" ng-click="nextPage()">Next »</a>
                                    </li>
                                </ul>
                            </div>
                        </div>-->
                        
                        
                            <div id="printable" class="row" ng-show="isactive">
                                <div class="col-lg-12">
                                    <p align="right">
                                        This is generated by &nbsp;&nbsp;&nbsp;&nbsp;<font size="3" color="red"><b>Red Alert</b></font>
                                    </p>
                                    <div class="hidden-md hidden-sm"><p class="invisible"></p></div>
                                    <center>
                                        <h4> <b>VISAKHAPATNAM</b></h4>
                                    </center>
                                    <center>
                                        <h4> <b>Check-List {{ReportDetails.Report}}-{{ReportDetails.ReportType}}</b></h4>
                                    </center>

                                    <div class="form-group">

                                        <p >
                                            <label>&nbsp;&nbsp;&nbsp;<b>From Date:</b>&nbsp;&nbsp;<b>  {{ FromDate | date:'dd-MMM-yyyy' }}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>  To Date:</b>&nbsp;&nbsp;<b>{{ ToDate | date:'dd-MMM-yyyy' }}</b> </label>
                                        </p>
                                        <div class="hidden-md hidden-sm"><p class="invisible"></p></div>
                                    </div>
                                    <div class="hidden-md hidden-sm"><p class="invisible"></p></div>
                                    <div class="hidden-md hidden-sm"><p class="invisible"></p></div>
                                </div>

                                    <table class="table table-bordered table-hover">
                                        <tr>
                                            <th>
                                                <b>Sl.No</b>
                                            </th>
                                            <th>
                                                <b>Area</b>
                                            </th>

                                            <th>
                                                <b>Activity Description</b>
                                            </th>
                                            <th>
                                                <b>Due Date</b>
                                            </th>
                                            <th>
                                                <b>Complition</b>
                                            </th>
                                            <th>
                                                <b>Responsibility</b>
                                            </th>
                                            <th>
                                                <b>Deviations</b>
                                            </th>
                                            <th>
                                                <b>Remarks</b>
                                            </th>
                                        </tr>
                                        <tr ng-repeat="report in reports">

                                            <td>
                                                {{$index+1}}
                                            </td>
                                            <td>
                                                {{report.Area}}
                                            </td>
                                            <td>
                                                {{report.Description}}
                                            </td>
                                            <td>
                                                {{report.DueDate}}
                                            </td>
                                            <td>
                                                {{report.CompletionDate}}
                                            </td>
                                            <td>
                                                {{report.Responsibility}}
                                            </td>
                                            <td>
                                                {{report.Deviations}}
                                            </td>
                                            <td>
                                                {{report.Remarks}}
                                            </td>

                                        </tr>
                                    </table>
                           
                    </div>

                        <div id="printdetailtable" class="row" ng-show="isactive">
                            <div class="col-lg-12">
                                <p align="right">
                                    This is generated by &nbsp;&nbsp;&nbsp;&nbsp;<font size="3" color="red"><b>Red Alert</b></font>
                                </p>
                                <div class="hidden-md hidden-sm"><p class="invisible"></p></div>
                                <center>
                                    <h4> <b>VISAKHAPATNAM</b></h4>
                                </center>
                                <center>
                                    <h4> <b>Check-List (Detailed)</b></h4>
                                </center>
                               
                                <div class="hidden-md hidden-sm"><p class="invisible"></p></div>
                                <div class="hidden-md hidden-sm"><p class="invisible"></p></div>
                            </div>

                            <table class="table table-bordered table-hover">
                                <tr>
                                    <th>
                                        <b>Sl.No</b>
                                    </th>
                                    <!--<th>
                                        <b>Area</b>
                                    </th>-->

                                    <th>
                                        <b>Activity Description</b>
                                    </th>
                                    <th>
                                        <b>Prv Date</b>
                                    </th>
                                    <th>
                                        <b>Periodicity</b>
                                    </th>
                                    <th>
                                        <b>Next Due </b>
                                    </th>
                                    <th>
                                        <b>Alert Period</b>
                                    </th>
                                    <th>
                                        <b>Responsibility</b>
                                    </th>
                                </tr>
                                <tr ng-repeat="report in reports">

                                    <td>
                                        {{$index+1}}
                                    </td>
                                    <!--<td>
                                        {{report.Area}}
                                    </td>-->
                                    <td>
                                        {{report.Description}}
                                    </td>
                                    <td>
                                        {{report.PreviousDate}}
                                    </td>
                                    <td>
                                        {{report.Periodicity}}
                                    </td>
                                    <td>
                                        {{report.NextDueDate}}
                                    </td>
                                    <td>
                                        {{report.AlertPeriod}}
                                    </td>
                                    <td>
                                        {{report.Responsibility}}
                                    </td>

                                </tr>
                            </table>

                        </div>

                            <div id="printfuturetable" class="row" ng-show="isactive">
                                <div class="col-lg-12">
                                    <p align="right">
                                        This is generated by &nbsp;&nbsp;&nbsp;&nbsp;<font size="3" color="red"><b>Red Alert</b></font>
                                    </p>
                                    <div class="hidden-md hidden-sm"><p class="invisible"></p></div>
                                    <center>
                                        <h4> <b>VISAKHAPATNAM</b></h4>
                                    </center>
                                    <center>
                                        <h4> <b>INTERNAL NOTE</b></h4>
                                    </center>
                                    <hr />
                                   
                                    <div class="hidden-md hidden-sm"><p class="invisible"></p></div>
                                    <div class="hidden-md hidden-sm"><p class="invisible"></p></div>
                                    <div>
                                        <p>
                                            <b> From :- HR & ADMIN</b>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <b>   To:- SURESH</b>
                                        </p>
                                        <br />
                                        
                                        <p>
                                            <b> Subject:-</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b>Jobs Check list for period &nbsp;&nbsp; {{ FromDate | date:'dd-MMM-yyyy' }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; to &nbsp;&nbsp; {{ ToDate | date:'dd-MMM-yyyy' }}</b>
                                        </p>
                                        <br />
                                        <p>
                                            <b>
                                                Following is a check-list of jobs with due date of compliance. You are resquested to ensure that jobs are complited by the due date
                                                and send complience report. In this case incomplited jobs give the reson for delay to enable us to update the Master check box.
                                            </b>
                                        </p>                                              
                                    </div>
                                </div>
                                <div class="hidden-md hidden-sm"><p class="invisible"></p></div>
                                <div class="hidden-md hidden-sm"><p class="invisible"></p></div>
                                <br />
                                <br />
                                <table class="table table-bordered table-hover">
                                    <tr>
                                        <th>
                                            <b>Sl.No</b>
                                        </th>
                                        <!--<th>
                                            <b>Area</b>
                                        </th>-->

                                        <th>
                                            <b>Activity Description</b>
                                        </th>
                                        <th>
                                            <b>Alert Date</b>
                                        </th>
                                        <th>
                                            <b>Due Date</b>
                                        </th>
                                        <th>
                                            <b>Responsibility</b>
                                        </th>
                                        <th>
                                            <b>Complition Status</b>
                                        </th>
                                        <th>
                                            <b>Remarks</b>
                                        </th>
                                    </tr>
                                    <tr ng-repeat="report in reports">

                                        <td>
                                            {{$index+1}}
                                        </td>
                                        <!--<td>
                                            {{report.Area}}
                                        </td>-->
                                        <td>
                                            {{report.Description}}
                                        </td>
                                        <td>
                                            {{report.AlertDate}}
                                        </td>
                                        <td>
                                            {{report.DueDate}}
                                        </td>
                                        <td>
                                            {{report.Responsibility}}
                                        </td>
                                        <td>
                                            {{report.ComplitionStatus}}
                                        </td>
                                        <td>
                                            {{report.Remarks}}
                                        </td>

                                    </tr>
                                </table>

                            </div>
                </div>
            </div>
        </div>
            </div>
    
			</div>
			
			</section>
   
</div>
<!-- /.content-wrapper -->
